<section>
    <h1 class="text-center">MY CV</h1>

    <h2 class="text-center">Professional Experience</h2>
        <div class="work">
          <div class="work_logo">
            <img src="assets/imgs/aws.png" />
          </div>
          <div class="work_date">
            <h6 class="text-center">May 2022 - Aug 2022</h6>
          </div>
          <div class="work_company">
            <h5 class="text-center">Amazon Web Services</h5>
            <h6 class="text-center">System Development Engineer Intern</h6>
          </div>
          <div class="work_description">
            <ul>
                <li>Participated in weekly meetings and standups. </li>
                <li>Analyzed and created a workflow on the critical path of the code on the given project. </li>
                <li>Created a document for the performance test plan and implemented it. </li>
                <li>Worked on the project and documented the changes and published the code for code reviews, and answered feedback</li>
            </ul>
          </div>
        </div>
        <div class="work">
          <div class="work_logo">
            <img src="assets/imgs/spu.png" />
          </div>
            <div class="work_date">
              <h6 class="text-center">Sep 2022 - Present</h6>
            </div>
            <div class="work_company">
              <h5 class="text-center">Seattle Pacific University</h5>
              <h6 class="text-center">Computer Lab Assistant</h6>
            </div>
            <div class="work_description">
              <ul>
                  <li>Helped set up a dev environment for many students on different operating systems.</li>
                  <li>Provided feedback on some programming problems by reading and assessing the given problems.</li>
                  <li>Collaborated with professors with their homework to prepare to help students.</li>
              </ul>
            </div>
        </div>
        <div class="work">
          <div class="work_logo">
            <img src="assets/imgs/ryther.png" />
          </div>
          <div class="work_date">
            <h6 class="text-center">May 2021 - Present</h6>
          </div>
          <div class="work_company">
            <h5 class="text-center">Ryther</h5>
            <h6 class="text-center">IT Support Specialist</h6>
          </div>
          <div class="work_description">
            <ul>
                <li>Provide Tier I and Tier II customer service and technical support to end-users for hardware and software.</li>
                <li>Diagnose, research, and resolve routine end-user issues on time through troubleshooting.</li>
                <li>Contribute to documentation of internal processes and procedures, maintenance of equipment, and training manuals</li>
            </ul>
          </div>
        </div>

          <!-- Education -->

        <h2 class="text-center">Education</h2>

        <div class="school">
              <div class="school_logo">
                <img src="assets/imgs/spu.png" />
              </div>
              <div class="school_date">
                <h6 class="text-center">Expected June 2023</h6>
              </div>
              <div class="school_name">
                <h6 class="text-center">Seattle Pacific University</h6>
              </div>
              <div class="school_degree">
                <h6 class="text-center">Bachelor of Science in Computer Science</h6>
              </div>
        </div>

        <div class="school">
          <div class="school_logo">
            <img src="assets/imgs/highline.jpg" />
          </div>
          <div class="school_date">
            <h6 class="text-center">June 2018</h6>
          </div>
          <div class="school_name">
            <h6 class="text-center">Highline College</h6>
          </div>
          <div class="school_degree">
            <h6 class="text-center">Associate of Arts in Computer Science</h6>
          </div>
        </div>

        <div class="school">
          <div class="school_logo">
            <img src="assets/imgs/tup.png" />
          </div>
          <div class="school_date">
            <h6 class="text-center">Mar 2014</h6>
          </div>
          <div class="school_name">
            <h6 class="text-center">Technological University Of the Philippines</h6>
          </div>
          <div class="school_degree">
            <h6 class="text-center">Computer Engineering Technology/Technician</h6>
          </div>
        </div>

        <!-- Certifications -->

        <h2 class="text-center">Certifications</h2>

          <div class="cert">
            <div class="cert_logo">
              <img src="assets/imgs/az.png" />
            </div>
              <div class="cert_date">
                <h6 class="date">August 2021</h6>
              </div>
              <div class="cert_company">
                <h6 class="text-center">Microsoft</h6>
              </div>
              <div class="cert_name">
                <h6 class="text-center">Azure Fundamentals</h6>
              </div>
          </div>

          <div class="cert">
            <div class="cert_logo">
              <img src="assets/imgs/gc.png" />
            </div>
            <div class="cert_date">
              <h6 class="date">Oct 2021</h6>
            </div>
            <div class="cert_company">
              <h6 class="text-center">Google Coursera</h6>
            </div>
            <div class="cert_name">
              <h6 class="text-center">Google IT Certificate</h6>
            </div>
          </div>

          <div class="cert">
            <div class="cert_logo">
              <img src="assets/imgs/365.png" />
            </div>
            <div class="cert_date">
              <h6 class="date">Jul 2021</h6>
            </div>
            <div class="cert_company">
              <h6 class="text-center">Microsoft</h6>
            </div>
            <div class="cert_name">
              <h6 class="text-center">Microsoft 365 Fundamentals</h6>
            </div>
          </div>

          <div class="cert">
            <div class="cert_logo">
              <img src="assets/imgs/ser.png" />
            </div>
            <div class="cert_date">
              <h6 class="date">Jul 2021</h6>
            </div>
            <div class="cert_company">
              <h6 class="text-center">Microsoft</h6>
            </div>
            <div class="cert_name">
              <h6 class="text-center">MTA: Windows Server Administration</h6>
            </div>
          </div>

          <div class="cert">
            <div class="cert_logo">
              <img src="assets/imgs/sec.png" />
            </div>
            <div class="cert_date">
              <h6 class="date">Jul 2021</h6>
            </div>
            <div class="cert_company">
              <h6 class="text-center">Microsoft</h6>
            </div>
            <div class="cert_name">
              <h6 class="text-center">MTA: Security Fundamentals</h6>
            </div>
          </div>

          <div class="cert">
            <div class="cert_logo">
              <img src="assets/imgs/net.png" />
            </div>
            <div class="cert_date">
              <h6 class="date">Jul 2021</h6>
            </div>
            <div class="cert_company">
              <h6 class="text-center">Microsoft</h6>
            </div>
            <div class="cert_name">
              <h6 class="text-center">MTA: Networking Fundamentals</h6>
            </div>
          </div>

          <div class="cert">
            <div class="cert_logo">
              <img src="assets/imgs/os.png" />
            </div>
            <div class="cert_date">
              <h6 class="date">Jul 2021</h6>
            </div>
            <div class="cert_company">
              <h6 class="text-center">Microsoft</h6>
            </div>
            <div class="cert_name">
              <h6 class="text-center">MTA: Operating System Fundamentals</h6>
            </div>
          </div>

</section>
