section
    width: 70%
    margin-left: 15%
    margin-right:15%
h1
    margin-top: 2em
    margin-bottom: 1em
h2
    margin-bottom: 1.5em

.work
    min-height: 10em
    width: 100%
    padding-left: 1%
    padding-right: 1%
    padding-top: 1em
    padding-bottom: 1em
    display: flex
    align-items: center
    justify-content: center
    .work_logo
        flex-direction: row
        flex: 1
        img
            width: 5em
    .work_date
        padding-left: 2em
        width: 15%
        flex-direction: row
        width: 20%
        flex: 2
    .work_company
        flex: 2
    .work_description
        flex: 6
        flex-direction: row

.school
    min-height: 10em
    width: 100%
    padding-left: 1%
    padding-right: 1%
    padding-top: 1em
    padding-bottom: 1em
    display: flex
    align-items: center
    justify-content: center
    .school_logo
        flex-direction: row
        flex: 1
        img
            width: 5em
    .school_date
        padding-left: 2em
        width: 15%
        flex-direction: row
        width: 20%
        flex: 2
    .school_name
        flex: 2
    .school_degree
        flex: 6
        flex-direction: row

.cert
    min-height: 10em
    width: 100%
    padding-left: 1%
    padding-right: 1%
    padding-top: 1em
    padding-bottom: 1em
    display: flex
    align-items: center
    justify-content: center
    .cert_logo
        flex-direction: row
        flex: 1
        img
            width: 5em
    .cert_date
        padding-left: 2em
        width: 15%
        flex-direction: row
        width: 20%
        flex: 2
    .cert_company
        flex: 2
    .cert_name
        flex: 6
        flex-direction: row