<section>
    <h1 class="text-center">MY CV</h1>

    <h2 class="text-center">Professional Experience</h2>

        <div class="row">
          <div class="col-3">
            <h6 class="date">May 2022 - Aug 2022</h6>
          </div>
          <div class="col-3">
            <h5 class="text-center">Amazon Web Services</h5>
            <h6 class="text-center">System Development Engineer Intern</h6>
          </div>
          <div class="col-6">
            <ul>
                <li>Participated in weekly meetings and standups. </li>
                <li>Analyzed and created a workflow on the critical path of the code on the given project. </li>
                <li>Created a document for the performance test plan and implemented it. </li>
                <li>Worked on the project and documented the changes and published the code for code reviews, and answered feedback</li>
            </ul>
          </div>
        </div>

        <div class="row">
            <div class="col-3">
              <h6 class="date">Sep 2022 - Present</h6>
            </div>
            <div class="col-3">
              <h5 class="text-center">Seattle Pacific University</h5>
              <h6 class="text-center">Computer Lab Assistant</h6>
            </div>
            <div class="col-6">
              <ul>
                  <li>Helped set up a dev environment for many students on different operating systems.</li>
                  <li>Provided feedback on some programming problems by reading and assessing the given problems.</li>
                  <li>Collaborated with professors with their homework to prepare to help students.</li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h6 class="date">May 2021 - Present</h6>
            </div>
            <div class="col-3">
              <h5 class="text-center">Ryther</h5>
              <h6 class="text-center">IT Support Specialist</h6>
            </div>
            <div class="col-6">
              <ul>
                  <li>Provide Tier I and Tier II customer service and technical support to end-users for hardware and software.</li>
                  <li>Diagnose, research, and resolve routine end-user issues on time through troubleshooting.</li>
                  <li>Contribute to documentation of internal processes and procedures, maintenance of equipment, and training manuals</li>
              </ul>
            </div>
          </div>

</section>
