<section>
        <h1 class="text-center pb-5">My Projects</h1>
        <!-- Elisa -->
        <div class="content-column">
            <div class="card" >
                <img class="card-img-top" src="assets/imgs/elisa_thumb.png" alt="elisa logo">
                <div class="card-body">
                    <h5 class="card-title">Elisa</h5>
                    <p class="card-text">Elisa is an inventory management systemp that is design for SPU Engineering and Computer Science Department to provide a lot of features such as inventory monitoring, reservaiton, notification and track devices using the RFID technology</p>
                </div>
                <a href="https://github.com/carlocabanilla23/ELISA/tree/dev" class="btn btn-primary">Check on Github</a>
            </div>
        </div>
        <!-- Graph Libray -->
        <div class="content-column">
            <div class="card" >
                <img class="card-img-top" src="assets/imgs/graphlib_thumb.png" alt="elisa logo">
                <div class="card-body">
                    <h5 class="card-title">Graph Libray</h5>
                    <p class="card-text">This project provides a python graph libray. Some of the method avaiable are BFS and DFS traversal, Check Bipartines, Shortest path, and Djikstra Algorithm</p>
                </div>
                <a href="https://github.com/carlocabanilla23/GraphLibrary" class="btn btn-primary">Check on Github</a>
            </div>
        </div>
        <!-- Course Flowchart -->
        <div class="content-column">
            <div class="card" >
                <img class="card-img-top" src="assets/imgs/flowchart_thumb.png" alt="elisa logo">
                <div class="card-body">
                    <h5 class="card-title">Course Flowchart</h5>
                    <p class="card-text">This project is design to help student planned their 
                        course program depends of the number of credit they would like to take and
                         what quarter they are going to start. The program will take a txt file that has a list of 
                        all course information in comma delimited format. Course Flowchart both 
                        show a text output and visualization of the program based on the constraint.</p>
                </div>
                <a href="https://github.com/carlocabanilla23/CourseFlowchart" class="btn btn-primary">Check on Github</a>
            </div>
        </div>
        <!-- Rust: Lexical and Syntax Analysis -->
        <div class="content-column">
            <div class="card" >
                <img class="card-img-top" src="assets/imgs/rustc_thumb.png" alt="elisa logo">
                <div class="card-body">
                    <h5 class="card-title">Rust: Lexical and Syntax Analysis</h5>
                    <p class="card-text">
                        This project consists in the development of the front end of a compiler. 
                        By programming the Lexical Analyzer (Scanner) and Syntax Analyzer (Parser) for the Square-Circle (SC) 
                        grammar you will gain further understanding of the lexical analysis and the production of tokens needed 
                        for the Syntax Analyzer (Parser), and how to consume those tokens by the 
                        Parser to verify that the syntax is correct.
                    </p>
                </div>
                <a href="https://github.com/carlocabanilla23/Syntax-and-Lexical-Analyzer" class="btn btn-primary">Check on Github</a>
            </div>
        </div>
        <!-- Huffman Encoding -->
        <div class="content-column">
            <div class="card" >
                <img class="card-img-top" src="assets/imgs/huffman_thumb.png" alt="elisa logo">
                <div class="card-body">
                    <h5 class="card-title">Huffman Encoding</h5>
                    <p class="card-text">This project creates a Huffman Tree Encoding to demonstrate the,
                        Implementation and use of the Tree Data Structure,
                        Using files for input and output,
                        Design a program from scratch, and
                        Use command line parameters</p>
                </div>
                <a href="https://github.com/carlocabanilla23/HuffmanEncoding" class="btn btn-primary">Check on Github</a>
            </div>
        </div>
        <!-- Task Manager -->
        <div class="content-column">
            <div class="card" >
                <img class="card-img-top" src="assets/imgs/iqoute_thumb.png" alt="elisa logo">
                <div class="card-body">
                    <h5 class="card-title">Task Manager</h5>
                    <p class="card-text">
                        This project created for my netcentric class to demonstrate web development skill. 
                        A simple task manager implemented using RESP API, and MongoDb, Bootstrap CSS and Javascript.
                    </p>
                </div>
                <a href="https://github.com/carlocabanilla23/TaskManager" class="btn btn-primary">Check on Github</a>
            </div>
        </div>
        <!-- Iqoutes -->
        <div class="content-column">
            <div class="card" >
                <img class="card-img-top" src="assets/imgs/tm_thumb.png" alt="elisa logo">
                <div class="card-body">
                    <h5 class="card-title">iQoutes</h5>
                    <p class="card-text">
                        This project created for my Application Programming class to demonstrate the skills on programming in embeded programming. 
                        A qoute organizer implemented using SQL and C++.
                    </p>
                </div>
                <a href="https://github.com/carlocabanilla23/CSC3220_T3_Qoutes" class="btn btn-primary">Check on Github</a>
            </div>
        </div>
        <!-- Postfix -->
        <div class="content-column">
            <div class="card" >
                <img class="card-img-top" src="assets/imgs/postfix_thumb.png" alt="elisa logo">
                <div class="card-body">
                    <h5 class="card-title">Postfix Operations</h5>
                    <p class="card-text">
                        This project concerns the coding of a program that evaluates postfix expressions using a stack.
                        Additionally, this lab will help you understand the use of STL classes as the stack class and possibly the queue class.
                        Furthermore, this assignment expects you to compile and run from the command line.
                    </p>
                </div>
                <a href="https://github.com/carlocabanilla23/Postfix" class="btn btn-primary">Check on Github</a>
            </div>
        </div>



</section>
