<section>
  <p class="h1 text-center">Contact Information</p>
  <form>
      <div class="form-group">
          <label for="exampleFormControlInput1" style="font-weight: bold;font-size: 1.2em;">Email: </label>
          <label for="exampleFormControlInput1" style="margin-left: 30px;font-size: 1.2em;">cabanillaj@spu.edu</label>
        </div>
      <div class="form-group">
          <label for="exampleFormControlInput1" style="font-weight: bold;font-size: 1.2em;">Phone Number: </label>
          <label for="exampleFormControlInput1" style="margin-left: 30px;font-size: 1.2em;">2066368329</label>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1" style="font-weight: bold;font-size: 1.2em;">LinkedIn: </label>
        <a href="https://www.linkedin.com/in/johncabanilla/" for="exampleFormControlInput1" style="margin-left: 30px;font-size: 1.2em;">https://www.linkedin.com/in/johncabanilla/</a>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1" style="font-weight: bold;font-size: 1.2em;">GitHub: </label>
        <a href="https://github.com/carlocabanilla23" for="exampleFormControlInput1" style="margin-left: 30px;font-size: 1.2em;">https://github.com/carlocabanilla23</a>
      </div>
      
    </form>
  </section>
<section>
<p class="h1 text-center">Contact Me</p>
<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Full Name">
      </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button class="btn btn primary">
        Submit
    </button>
  </form>
</section>