<section class="container-fluid">

    <img src="assets/imgs/1634861383439.webp" class="card profilepic" alt="photo of John Cabanilla">
    <p class="h1 text-center">John Carlo Cabanilla</p>
    <p class="h2 text-center">Software Developer</p>

    <div class="content">
        <p>
            My name is John Carlo Cabanilla, and I am a computer science undergrad student at Seattle Pacific University
            and will graduate this June 2023. I am interested in Software Engineering, Mobile Applications, and  Web development.
            I write many codes in my free time and practice my coding skills on leetcode and hacker rank.
        </p>
        <p>
            My senior project is an inventory management system that provides a lot of features to our stakeholders to become more
            efficient in managing inventory. I became part of the team, a very talented individual that showcased their skill on building the
            app. My main role is a lead developer on the app that design most of the important feature within the application like the email
            notification system and the database structure of the app.
        </p>

        <p>
            I did my internship at Amazon Web Services as a system development engineer where I
            became a part of the very skilled individual that provides support to high performance computing (HPC) users.
            My main task is to provide support on the networking side of the HPC to
            determine the current performance on one of the API.
        </p>

    </div>

    <a routerLink="/Portfolio" class="btn btn-primary">Check my Projects</a>
</section>
